/*GERAL*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --color01: #005B4D;
    --color02: #FFFFFF;
    --color03: #F5E231;
}

body{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.main-release-text-title, .main-trending-text-title, .main-sale-text-title{
    font-size: 3rem;
    color: var(--color01);
    padding: 5% 0% 5% 0% ;
}

.main-release-imoveis, .main-trending-imoveis, .main-sale-imoveis{
    display: flex;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--color01);
}
.header-logo{

}
.header-logo-img{
    width: 75%;
}
.header-nav{
    width: 55%;
}
.header-nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header-icons-list{
    display: flex;
    list-style: none;
}
.header-icons-list-img{
    width: 50%;
}

/*MAIN*/
/*main-search*/
.main-search{
    background-image: url("../assets/img-background/Background.png");
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-search-title{
    font-size: 5rem;
    color: var(--color01);
    padding-bottom: 3%;
}
.main-search-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color02);
    width: 60%;
    padding: 1%;
}
.main-search-options-contract-select{
    padding: 5%;
}
.main-search-options-type-select{
    padding: 2.5%;
}
.main-search-options-street-form{
    
}
.main-search-options-street-form-input{
    padding: 2.5%;
}
.main-search-options-filter{

}
.main-search-options-filter-input{
    padding: 2.5%;
}
.main-search-options-button{
    padding: 1%;
    background-color: var(--color03);
    border: 1px solid black;
}

/*main-releases*/
.main-release{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imovel-release h3{
    background-color: var(--color01);
}

/*main-trending*/
.main-trending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imovel-trending h3{
    background-color: var(--color01);
}

/*main-sale*/
.main-sale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imovel-sale h3{
    background-color: var(--color01);
}


/*FOOTER*/
footer{
    padding: 5% 0% 0% 0%;
}
.footer-info{
    display: flex;
    justify-content: space-around;
}
.footer-info-present-nav{
    display: flex;
    list-style: none;
}
.footer-copyright{
    padding: 2% 0% 0% 0%;
    display: flex;
    justify-content: space-between;
}